<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Asteroids</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='asteroids.css') }}" />
</head>


<header>

        <img src="../static/logo_final.png" id="logo">

        <a href="{{ url_for('asteroids') }}">Home</a>
        <a href="{{ url_for('index') }}">Play</a>

</header>
<body>

    <h1>Credits</h1>
    <h2>Images</h2>
    <p>
        All Images available for non commercial purposes under fair use
    </p>

    <p>Asteroid Image 1 - https://www.pixilart.com/art/asteroid-9393de0d8379c41</p>

    <p>Asteroid Image 2 - https://stablediffusionweb.com/image/4493407-pixelated-asteroid-scene</p>

    <p>Asteroid Image 3 - https://www.shutterstock.com/image-illustration/asteroid-on-black-background-3d-rendering-1828453313</p>

    <p>Crosshair Image - https://www.pixilart.com/art/red-crosshair-a438bbac3e9ea9d</p>

    <p>Heart Image - https://www.gamblerspick.com/slots-sub-themes/pixel-art-themed-slots-r722/</p>

    <p>Snowflake Image - https://www.deviantart.com/mega-hikaru/art/Pixel-Snowflake-575662545</p>

    <p>Steroid Image - https://www.seekpng.com/ipng/u2e6u2w7o0o0t4e6_pixel-cute-cutepixel-creepy-pastelgoth-needle-minecraft/</p>

    <p>Arrow Keys Image - https://www.vecteezy.com/free-vector/arrow-keys</p>

    <p>Spacebar Image - https://www.shutterstock.com/search/space-bar?image_type=vector</p>
</body>



</html>
